@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
	font-family: 'DroidSans';
	src: url('../fonts/droidsans.eot');
	src: url('../fonts/droidsans.eot?#iefix') format('embedded-opentype'), url('../fonts/droidsans.woff') format('woff'), url('../fonts/droidsans.ttf') format('truetype'), url('../fonts/droidsans.svg#droidsans') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DroidSans';
	src: url('../fonts/droidsans-bold.eot');
	src: url('../fonts/droidsans-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/droidsans-bold.woff') format('woff'), url('../fonts/droidsans-bold.ttf') format('truetype'), url('../fonts/droidsans-bold.svg#droidsans-bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'PTSansNarrow';
	src: url('../fonts/pt_sans-narrow-web-regular.eot');
	src: url('../fonts/pt_sans-narrow-web-regular.eot') format('embedded-opentype'), url('../fonts/pt_sans-narrow-web-regular.woff') format('woff'), url('../fonts/pt_sans-narrow-web-regular.ttf') format('truetype'), url('../fonts/pt_sans-narrow-web-regular.svg#pt_sans-narrow-web-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSansNarrow';
	src: url('../fonts/pt_sans-narrow-web-bold.eot');
	src: url('../fonts/pt_sans-narrow-web-bold.eot') format('embedded-opentype'), url('../fonts/pt_sans-narrow-web-bold.woff') format('woff'), url('../fonts/pt_sans-narrow-web-bold.ttf') format('truetype'), url('../fonts/pt_sans-narrow-web-bold.svg#pt_sans-narrow-web-bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'PTSans';
	src: url('../fonts/pt_sans-web-regular.eot');
	src: url('../fonts/pt_sans-web-regular.eot') format('embedded-opentype'),  url('../fonts/pt_sans-web-regular.woff') format('woff'),  url('../fonts/pt_sans-web-regular.ttf') format('truetype'),  url('../fonts/pt_sans-web-regular.svg#PTSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSans';
	src: url('../fonts/pt_sans-web-bold.eot');
	src: url('../fonts/pt_sans-web-bold.eot') format('embedded-opentype'),  url('../fonts/pt_sans-web-bold.woff') format('woff'),  url('../fonts/pt_sans-web-bold.ttf') format('truetype'),  url('../fonts/pt_sans-web-bold.svg#PTSansBold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'PTSans';
	src: url('../fonts/pt_sans-web-italic.eot');
	src: url('../fonts/pt_sans-web-italic.eot') format('embedded-opentype'),  url('../fonts/pt_sans-web-italic.woff') format('woff'),  url('../fonts/pt_sans-web-italic.ttf') format('truetype'),  url('../fonts/pt_sans-web-italic.svg#PTSansItalic') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'PTSans';
	src: url('../fonts/pt_sans-web-bolditalic.eot');
	src: url('../fonts/pt_sans-web-bolditalic.eot') format('embedded-opentype'),  url('../fonts/pt_sans-web-bolditalic.woff') format('woff'),  url('../fonts/pt_sans-web-bolditalic.ttf') format('truetype'),  url('../fonts/pt_sans-web-bolditalic.svg#PTSansBoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}
h1 {
	font-size: 36px;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 20px;
	color: #141414;
}
h2 {
	font-size: 32px;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 20px;
	color: #141414;
}
h3 {
	font-size: 28px;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 20px;
	color: #141414;
}
h4 {
	font-size: 24px;
	font-weight: normal;
	line-height: 1;
	margin-bottom: 20px;
	color: #141414;
}
h5 {
	font-size: 20px;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 20px;
	color: #141414;
}
b {
	font-weight: bold;
}
i {
	font-style: italic;
}
.pt-sans-narrow {
	font-family: 'PTSansNarrow';
}
.pt-sans {
	font-family: 'PTSans';
}
.droid-sans {
	font-family: 'DroidSans';
}
div {
	margin-bottom: 30px;
}
p {
	margin-bottom: 10px;
}
body {
	font-size: 14px;
}
.wrap {
	width: 1000px;
	margin: 0 auto;
}
